
form {
  border: 1px solid black;
  background: rgba(73, 186, 126, 1);
  width: 80%;
  text-align: center;
}

input {
  width: 40%;
  height: 26px;
  padding: 20px;
  border: 1px solid rgba(255,255,255,.6);
  background: transparent;
  border-radius: 5px;
  font-size: 26px;
}

.name {
  margin: 40px 40px 40px 0px;

}

.email {
  margin: 0px 0px 40px 0px;
}

.message {
  display: block;
  width: 89%;
  height: 280px;
  margin: 0 auto;
  padding: 20px;
  font-size: 26px;
  background: transparent;
  border: 1px solid rgba(255,255,255,.6);
  border-radius: 5px;
}

.submit {
  width: 36%;
  height: 80px;
  border-radius: 8px;
  background: white;
  border: none;
  color: rgba(73, 186, 126, 1);
  margin: 40px;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
     color: rgba(255,255,255,.4);
   }

@media (max-width: 840px) {
    input {
      width: 100%;
     }
}
