
body {
  background: rgba(73, 186, 126, 1);
}

form {
  width: 80%;
  border: 2px black solid;
}
.name, .email, .message{
  border: 1px solid red;
  background: transparent;
  border: 1px solid rgba(255,255,255,.8);
  padding: 10px;
  border-radius: 5px;
}

.name {
  width: 40%;
  margin: 4% 2% 4% 4%;
  height: 40px;
  font-size: 18px;
}

.email {
  width: 40%;
  margin: 4% 4% 4% 2%;
  font-size: 18px;
  height: 40px;
}

.message {
  width: 87.5%;
  display: block;
  margin: 0% 4%;
  height: 300px;
}

.submit {
  width: 35%;
  display: block;
  text-transform: uppercase;
  margin: 4% auto 4% auto;
  height: 70px;
  font-size: 20px;
  border-radius: 5px;
  background: white;
  border: none;
  font-weight: 700;
  color: rgba(73, 186, 126, 1);
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: rgba(225,225,225,.4);
}

